
.App {
  text-align: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  margin: 5px;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  /* border-radius: 1rem !important; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 215, 243);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}












.App {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.btnLogin {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 65px !important;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 81px;
    background-color: #E0E0E0;
    background-image: linear-gradient(
19deg
, #21D4FD 0%, #B721FF 100%);
  cursor: pointer;
}




.login .loginContainer {
  padding: 46px;
  margin: auto;
  width: 94%;
  max-width: 512px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background:white;
  border: 7px solid #03a9f4;
    }
.p-4 {
    padding: 0.5rem!important;
}
.login .loginContainer label {
  color: rgb(0, 0, 0);
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}
.imglogin {
  margin: auto;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  border-radius: 9999px;
  background-color: #E9D985;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}

.imglogin{
  margin: auto;
	width: 6.25rem;
	height: 6.25rem;
	display: flex;
	border-radius: 9999px;
	background-color: #E9D985;
/* 	border: 1px solid black; */
	box-shadow: 
		0px 0px 2px #5F5F5F,
		0px 0px 0px 5px #ECF0F3,
		8px 8px 15px #A7AAAF,
		-8px -8px 15px #FFFFFF;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  border: #ff980021;
  background: gainsboro;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  border-style: revert;
  border-radius: 81px;
  
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: rgb(240, 11, 11);
}

.login .loginContainer .btnContainer p span {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: rgb(236, 14, 14);
}

.login .loginContainer .errorMsg {
  color: rgb(236, 16, 16);
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: wheat;
}

.hero nav {
  background: rgb(255 7 7 / 80%);
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
.bg-light {
  background-color: #03a9f4!important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-radius: 0.25rem;
}
.navlinks{

    color: #340400ba;
    text-decoration: auto;
    background-color: transparent;
    margin: 5px;
    height: 20px;

}

.contenedorF{
  display: flex;
  justify-content: space-between;
}
.item {
  order: 2;
}

















body {
  font: 24px Helvetica;
  background: #999999;
 }

 #main {
  min-height: 616px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
 #main > article {
  margin: 4px;
  padding: 5px;
  border: 3px solid #d61010;
  border-radius: 7pt;
  background: #ffffff;
  -webkit-flex: 3 1 40%;
          flex: 3 1 40%;
  -webkit-order: 2;
          order: 2;
  }

 #main > nav {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  -webkit-flex: 1 6 20%;
          flex: 1 6 20%;
  -webkit-order: 1;
          order: 1;
  }

  .imglogin{
    margin: auto;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    border-radius: 23px;
    background-color: #E9D985;
  /* 	border: 1px solid black; */
    box-shadow: 
      0px 0px 2px #5F5F5F,
      0px 0px 0px 5px #ECF0F3,
      8px 8px 15px #A7AAAF,
      -8px -8px 15px #FFFFFF;
  }

 #main > aside {
  margin: 4px;
  padding: 5px;
  border: 3px solid #ffffff;
  border-radius: 7pt;
  background: #ffffff;
  flex: 1 6 70%;
  order: 3;
  border-color: black;
  }

 header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 43px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
  }

 /* Too narrow to support three columns */
 @media all and (max-width: 640px) {

  #main, #page {
   -webkit-flex-flow: column;
           flex-flow: column;
  }

  #main > article, #main > nav, #main > aside {
   /* Return them to document order */
   -webkit-order: 0;
           order: 0;
  }

  #main > nav, #main > aside, header, footer {
   min-height: 100px;
   max-height: 100px;
  }
 }


 .itemStart {

 }